
/* ----------- Main Header ----------- */
body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.main-header{
    background-image: url("images/technology.JPG");
    background-size: cover;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 20px;
}
/*--------------main navigation--------*/
.main-nav{
     background-color: #333333;
}
.main-nav ul{
    list-style-type: none;
    padding: 0;
    margin:0;
    overflow: hidden;

}
.main-nav ul li{
    float: left;
}
.main-nav ul li a{
    text-decoration: none;
    color: white;
    padding:14px 20px;
    display: inline-block; 
}
.main-nav ul li a:hover{
    background-color: #778166;
    border-radius: 5px;
}
.main-nav ul li a.active{
    background-color: #517925;
    border-radius: 5px;

}
/*----------------latest-news-------------*/
.latest-news{
    background-color: #517925;
    color: white;
    margin-top: 5px;
    animation-name: latest-news;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}


@keyframes latest-news{
    0%, 50% , 100%{
        background-color: #2c8d3a;
    }
    25% , 75%{
        background-color: #517925
    }
}
.latest-news p{
    font-size: 25px;
    margin:0;
    padding: 5px;
    animation-name: flash-name;
    animation-duration: 14s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes flash-name{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
.home-news{
    width: 1100px;
    height: auto;
    margin: auto;
}
.home-div{
    border: 2px solid gray;
    float: left;
    width: 330px;
    height: 590px;
    text-align: center;
    margin: 5px;
    border-radius: 10px;
    transition: width 0.5s .height 0.5s;
}
.home-div:hover{
     cursor: pointer;
     box-shadow: 7px 7px 7px seagreen;
     width: 335px;
     height: 590px;

}
.home-div img{
    width: 320px;
    height: auto;

}
.home-div img:hover{
    width: 325px;
    height: auto;
}
.home-text{
    padding: 10px;
    font-size: 18px;
}
.break{
    clear: both;
}
/*----------------home aricle section-----------------------*/
.home-article-section{
    width: 1100px;
    height: auto;
    margin: auto;


}
.home-article{
    width: 950px;
    margin-left: 45px;
    text-align: center;
}
.home-article h2{
    background-color: seagreen;
    padding: 15px;
    color: white;
    border-radius: 10px;
}
.home-image img{
    width: 650px;
    height: auto;
    padding: 5px;
    border: 2px solid gray;
    opacity: 0.8;
    transition: width 0.5s , opacity:0.5px;
    border-radius: 10px;
    
}
.home-article img:hover{
    width: 700px;
    height: auto;
    opacity: 1.0;
    cursor: pointer;
}
/*------footer----------*/
.main-footer{
    background-color: #333333;
    color: white;
    padding:10px;
    text-align: center;

}
.main-footer a{
    color: orange;
}
   /*gallery secction*/
.gallery-section{
    text-align: center;
    margin-top: 20px;


}
.gallery-div{
    border:2px solid grey;

    margin: 7px;
    width: 300px;

    padding: 3px;
    float: left;
    
    border-radius: 7px;


}
.gallery-div:hover{
    box-shadow: 5px 5px 5px seagreen;
}
.gallery-div img{
    width: 300px;
    height: 150px;

}
/*about us section*/
.about-section{
    width: 1100px;
    height: auto;
    margin: auto;

}
.about-div{
    padding: 5px;
}
.about-div h3{
    color: seagreen;
    font-size: 30px;
}
.about-div p{
    font-size: 15px;
}
/*contact setctio*/
.contact-section{
    width: 1100px;
    height: auto;
    margin: auto;
    text-align: center;
}
.contact-section h2{
    color: seagreen;
    font-size: 45px;
    margin-bottom: 0;
}
.contact-section p{
    font-size: 20px;
    margin-top: 0;
}
input[type="text"],input[type="email"]{
    height: 45px;
    margin: 7px;
    font-size: 18px;
    text-align: center;
    border: 2px solid seagreen;
    border-radius: 7px;
}
input[type="text"]:focus,input[type="email"]:focus{
    outline: none;
    background-color: lightgreen;

    }
    textarea{
        margin:7px;
        font-size: 20px;
        text-align: center;
        border: 2px solid seagreen;
        border-radius: 7px;
        width: 430px;
        height: 200px;

    }
    textarea:focus{
        outline: none;
        background-color: lightgreen;
    }
    input[type="submit"]{
        background-color: seagreen;
        color: white;
        margin: 10px;
        padding: 14px 20px;
        border: none;
        font-size: 20px;
        border-radius: 5px;
    }
